{% extends "Fichemedicale2.html" %}


{% block content %}
<div id="breadcrumbs-wrapper" xmlns="http://www.w3.org/1999/html">
    <!-- Search for small screen -->
    <div class="row">
        <div class="input-field col s12">
            <h5 class="breadcrumbs-title">Gestion des dossiers</h5>
        </div>
        <div class="input-field col s12">
            <ol class="breadcrumbs">
                <li><a class="active" href="/listePatient_Consultation"><span
                        class="material-icons">list</span>liste des patients </a></li>
                <li><a><span class="material-icons">add_box</span>Dossier patient
                </a>
                </li>
                <li><a class="active"><span class="material-icons">add_box</span>Paramètre médicaux</a>
            </ol>


        </div>
    </div>

</div>
<div class="container">
    <div class="col s12 m4 20">
        <div class="card">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header teal accent-4">
                    <h5 class="task-card-title center-align">Identification du patient</h5>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s3">
                            <div class="input-field col s12">
                                <input id="NomPrenom" type="text" name="nom" readonly
                                       value="{{ data['Nom_Pat'] }} {{ data['Prenom_Pat'] }}">
                                <label for="NomPrenom">Nom & Prénom</label>
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="input-field col s12">
                                <input id="sexe" type="text" name="sexe" value="{{ data['Sexe_Pat'] }}" readonly>
                                <label for="sexe">Sexe</label>
                            </div>

                        </div>

                        <input id="showtime" type="hidden" name="age" value="" readonly>


                        <div class="col s3">
                            <div class="input-field col s12">
                                <input type="text" id="icon_age" name="age" readonly>

                                <input type="hidden" id="dateNais" value="{{ data['DateNais'] }}">


                            </div>

                        </div>
                        <div class="col s3">
                            <div class="input-field col s12">
                                <a href="/ParametreMedicaux/{{ data['ID_Pat'] }}">
                                    <button class="btn waves-effect waves-light right" type="submit"
                                            name="action">nouvelle fiche
                                        <i class="material-icons right">add</i>
                                    </button>
                                </a>
                            </div>

                        </div>
                    </div>


                </li>
            </ul>
        </div>

    </div>
    <div class="col s12 m12 l4">
        <div id="flight-card" class="card">
            <div class="card-header light-blue darken-2">
                <div class="card-title">
                    <h5 class="flight-card-title center-align">Antécédent ophtamologique et médicale</h5>
                </div>

            </div>
            <div class=" centered back-text">
                <table>
                    <thead>
                    <tr>

                        <th>Antécédents médicaux</th>
                        <th>Antécédents ophtamologique</th>
                        <th>Antécédents familiaux</th>
                        <th> Ajouter

                            <a class="btn-floating btn-flat waves-effect waves-light  pink accent-2 white-text modal-trigger"
                               href="#modal1">
                                <i class="material-icons">add</i>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in Ant %}
                    <tr>

                        <td>{{row["Ante_oph"]}}</td>
                        <td>{{row["Ante_med"]}}</td>
                        <td>{{row["Ante_familliaux"]}}</td>

                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div id="modal1" class="modal">
            <div class="modal-header center-align">
                <h5> Ajouter les antécedents aux patients</h5>
            </div>
            <div class="modal-content">
                <div class="row">
                    <div class="col s12 m12 l12">
                <div class="card-panel">
                  <div class="row">
                    <form class="col s12" action="{{ url_for('Antecedants_patient') }}" method="post">


<input id="NomP" type="text" name="IDPatient" value="{{ data['ID_Pat'] }}" hidden>

                        <div class="row">
                          <div class="input-field col s12">

                          <input id="icon_prefix3" type="text"   name="Nom_Antecedant" class="validate">
                          <label for="icon_prefix3">Antécédent ophtamologique</label>
                        </div>
                      </div>
                        <div class="row">
                            <div class="input-field col s6">

                          <input id="icon_prefix2" type="text"   name="Nom_Ante_medicaux" class="validate">
                          <label for="icon_prefix">Antécédent médicaux</label>
                        </div>
                          <div class="input-field col s6">

                          <input id="icon_prefix4" type="text"   name="Nom_Ante_Familliaux" class="validate">
                          <label for="icon_prefix">Antécédent familliaux</label>
                        </div>
                      </div>
                        <div class="modal-footer">
                                           <div class="row">
                              <div class="input-field col s6">
                                <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
                                  <i class="material-icons right">save</i>
                                </button>
                              </div>
                                                <div class="input-field col s6">
                               <a href="#!" class="modal-action
					modal-close waves-effect waves-green
					btn green lighten-1">
                    Close
                </a>
                              </div>
            </div>
        </div>
                    </form>
                  </div>
                </div>


                </div>
                </div>
            </div>


    </div>
    <div class="col s12 m4 20">
        <div class="card">
            <ul id="tasks-card" class="collection with-header">
                <li class="collection-header  deep-purple lighten-4">

                    <h5 class="task-card-title center-align">Historique médicale</h5>
                </li>
                <table class="centered">
                    <thead>
                    <tr>
                        <th data-field="id">date</th>
                        <th data-field="price"></th>
                        <th data-field="name">Motif</th>
                        <th data-field="price"></th>
                        <th data-field="price"></th>
                        <th data-field="price">détail de consultation</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for row in para %}
                    <tr>
                        <td class="collection-item dismissable">{{row["date_parametre"]}}</td>
                        <td class="collection-item dismissable"></td>
                        <td class="collection-item dismissable">{{row["motif"]}}</td>
                        <td class="collection-item dismissable"></td>
                        <td class="collection-item dismissable"></td>
                        <td class="collection-item dismissable"><a class="modal-trigger"
                                                                   href="#demo-modalmodal">
                            <span class="material-icons">folder_open</span>
                        </a></td>
                    </tr>
                    </tbody>

                </table>

            </ul>
        </div>
    </div>
    <div id="demo-modal" class="modal">
        <div class="modal-header center-align">
            <h5> Fiche de consultation du patient
                <div class="row">
                    <div class="input-field col s3">
                        <input id="icon_prefix" type="text" readonly value="{{row[" date_parametre"]}}" class="validate"
                        >
                        <label for="icon_prefix">Date</label>
                    </div>

                </div>

            </h5>


        </div>
        <div class="modal-content">
            <div class="row">
                <form class="col s12">
                    <div class="row">

                        <div class="input-field col s12">
                            <textarea id="icon_motif" readonly
                                      class="materialize-textarea">{{row["motif"]}}
                        </textarea>
                            <label for="icon_motif">Motif</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">

                            <input id="icon_tension" readonly value="{{row[" tension_arterielle"]}}" class="validate">
                            <label for="icon_tension">Tension Artérielle</label>
                        </div>
                        <div class="input-field col s6">

                            <input id="icon_poids" readonly value="{{row[" poids"]}}" class="validate">
                            <label for="icon_poids">poids(en kg)</label>
                        </div>
                    </div>
                    <table class="bordered">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Oeil Droite</th>
                            <th>Oeil Gauche</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Acuite Visuel</th>
                            <td><input type="text" class="validate" name="AcuiteD" readonly value="{{row[" AVG"]}}">
                            </td>
                            <td><input type="text" class="validate" name="AcuiteG" readonly value="{{row[" AVD"]}}">
                            </td>
                        </tr>
                        <tr>
                            <th>Tension Intraoculaire(PIO)</th>
                            <td><input type="text" class="validate" name="POID" readonly value="{{row[" PIOG"]}}"></td>
                            <td><input type="text" class="validate" name="PIOG" readonly value="{{row[" PIOD"]}}"></td>
                        </tr>
                        <tr>
                            <th>lampe a Fente</th>
                            <td><input type="text" class="validate" name="LAPD" readonly value="{{row[" LAPG"]}}"></td>
                            <td><input type="text" class="validate" name="LAPG" readonly value="{{row[" LAPD"]}}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <table>
                        <thead>
                        <tr>
                            <th></th>
                            <th>Observations</th>
                            <th>Diagnostics</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        </tbody>
                    </table>

                </form>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action
					modal-close waves-effect waves-green
					btn green lighten-1">
                    Close
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>

    {% endblock content %}